<div class="container">
  <div class="logo">
    <div>
      <%=image_tag('logo.png')%>
      <div class="link">
        <a href="/privacy" >Privacy policy</a>
      </div>
    </div>
  </div>
</div>
